DB_USERNAME=root
DB_PASSWORD=replace_with_a_strong_database_password

JWT_SECRET=replace_with_a_random_secret_of_at_least_32_bytes

MAIL_USERNAME=replace_with_mail_username
MAIL_PASSWORD=replace_with_mail_app_password

VAPID_PUBLIC_KEY=replace_with_vapid_public_key
VAPID_PRIVATE_KEY=replace_with_vapid_private_key
